In [1]:
import sys
from pathlib import Path

PROJ_ROOT = "../../"
INPUT_FILE_PATH = PROJ_ROOT + "input"
sys.path.insert(0, PROJ_ROOT)

In [2]:
from src.preprocess.address import pp_address
from src.preprocess.read_file import read_file

In [3]:
df = read_file(INPUT_FILE_PATH)

In [4]:
df["address"].to_frame()

                 address
0            東京都北区滝野川３丁目
1            東京都中央区月島３丁目
2            東京都渋谷区笹塚２丁目
3      東京都杉並区高円寺南２丁目23-2
4         東京都葛飾区金町３丁目7-2
...                  ...
31257       東京都豊島区上池袋４丁目
31258      東京都千代田区岩本町２丁目
31259   東京都中野区江古田３丁目14-3
31260         東京都千代田区二番町
31261       東京都大田区南馬込６丁目

[62732 rows x 1 columns]

In [7]:
pp_address(df)[["address_1", "address_2", "address_3"]]

      address_1 address_2 address_3
0             北       滝野川       3丁目
1            中央        月島       3丁目
2            渋谷        笹塚       2丁目
3            杉並      高円寺南   2丁目23-2
4            葛飾        金町    3丁目7-2
...         ...       ...       ...
31257        豊島       上池袋       4丁目
31258       千代田       岩本町       2丁目
31259        中野       江古田   3丁目14-3
31260       千代田       二番町
31261        大田       南馬込       6丁目

[62732 rows x 3 columns]

In [ ]:
'