In [1]:
import sys
from pathlib import Path

PROJ_ROOT = "../../"
INPUT_FILE_PATH = PROJ_ROOT + "input"
sys.path.insert(0, PROJ_ROOT)

In [2]:
from src.preprocess.age import pp_age
from src.preprocess.read_file import read_file

In [3]:
df = read_file(INPUT_FILE_PATH)

In [4]:
df["age"].to_frame()

           age
0        9年9ヶ月
1      44年10ヶ月
2        8年6ヶ月
3       29年4ヶ月
4       31年7ヶ月
...        ...
31257    0年1ヶ月
31258   15年6ヶ月
31259    1年0ヶ月
31260   15年4ヶ月
31261   16年3ヶ月

[62732 rows x 1 columns]

In [5]:
pp_age(df)["age"].to_frame()

             age
0       9.750000
1      44.833333
2       8.500000
3      29.333333
4      31.583333
...          ...
31257   0.083333
31258  15.500000
31259   1.000000
31260  15.333333
31261  16.250000

[62732 rows x 1 columns]

In [ ]:
'