In [1]:
import sys
from pathlib import Path

PROJ_ROOT = "../../"
INPUT_FILE_PATH = PROJ_ROOT + "input"
sys.path.insert(0, PROJ_ROOT)

In [2]:
from src.preprocess.area import pp_area
from src.preprocess.read_file import read_file

In [3]:
df = read_file(INPUT_FILE_PATH)

In [4]:
df["area"].to_frame()

          area
0      20.01m2
1       16.5m2
2      22.05m2
3      60.48m2
4      39.66m2
...        ...
31257  25.66m2
31258  22.71m2
31259  45.76m2
31260   55.2m2
31261  21.18m2

[62732 rows x 1 columns]

In [5]:
pp_area(df)["area"].to_frame()

        area
0      20.01
1      16.50
2      22.05
3      60.48
4      39.66
...      ...
31257  25.66
31258  22.71
31259  45.76
31260  55.20
31261  21.18

[62732 rows x 1 columns]

In [ ]:
'