In [1]:
import sys
from pathlib import Path

PROJ_ROOT = "../../"
INPUT_FILE_PATH = PROJ_ROOT + "input"
sys.path.insert(0, PROJ_ROOT)

In [2]:
from src.preprocess.contract import pp_contract
from src.preprocess.read_file import read_file

In [17]:
df = read_file(INPUT_FILE_PATH)

In [18]:
df["contract"].to_frame()

                     contract
0                         2年間
1                         2年間
2                         2年間
3      2年間\t※この物件は\t定期借家\tです。
4                         2年間
...                       ...
31257                     2年間
31258                     NaN
31259  2年間\t※この物件は\t定期借家\tです。
31260                     NaN
31261                     NaN

[62732 rows x 1 columns]

In [19]:
pp_contract(df)[["contract", "periodic"]]

       contract  periodic
0           2.0         0
1           2.0         0
2           2.0         0
3           2.0         1
4           2.0         0
...         ...       ...
31257       2.0         0
31258       2.0         0
31259       2.0         1
31260       2.0         0
31261       2.0         0

[62732 rows x 2 columns]

In [ ]:
'