In [1]:
import sys
from pathlib import Path

PROJ_ROOT = '../../'
INPUT_FILE_PATH = PROJ_ROOT + 'input'
sys.path.insert(0, PROJ_ROOT)

In [2]:
from src.preprocess.floor_stories import pp_floor_stories
from src.preprocess.read_file import read_file

In [3]:
df = read_file(INPUT_FILE_PATH)

In [4]:
df['floor_stories'].to_frame()

      floor_stories
0           1階／12階建
1           5階／10階建
2          12階／15階建
3            3階／4階建
4            1階／2階建
...             ...
31257        6階／8階建
31258       8階／15階建
31259      10階／14階建
31260      14階／14階建
31261        5階／5階建

[62732 rows x 1 columns]

In [6]:
pp_floor_stories(df)[["floor", "stories"]]

       floor  stories
0          1       12
1          5       10
2         12       15
3          3        4
4          1        2
...      ...      ...
31257      6        8
31258      8       15
31259     10       14
31260     14       14
31261      5        5

[62732 rows x 2 columns]